@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');
/*



p
{
    font-family: "Righteous", cursive;
    font-weight: 500;
    font-size: 25px;
}

*/


body
{
    background-color: #f7ecde;
}

h1
{
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-size: 50px;
    width: fit-content;
    transition: all .5s ease-in-out;
    position: relative;
    
}

h1::before
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0 ;
    right: 0 ;
    background-color: #fec260;
    height: 33%;
    z-index: -1;
    transition: all .3s ease-in-out;
}


h1:hover::before
{
    height: 65%;
}





.mainTitle
{
    border-bottom: dotted 2px black;
}


.secondTitle
{
    border-bottom: dotted 2px black;
}

.secondTitle input.form-control:focus
{
    box-shadow:0 0 0 4px rgba(254, 193, 96, 0.71);
}


.secondTitle h4
{
    font-family: "Righteous", cursive;
    font-weight: 500;
    font-size: 25px;
    background: linear-gradient(to right, #3ea55c , #b5ac49);
    width: fit-content;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}




























